/* src/App.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121214; /* Fundo dark */
  color: white;
  font-family: sans-serif;

  gap: 30px;
}

.cartao {
  background-color: #202024; /* Cinza do cartão */
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  border: 1px solid #323238;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.titulo {
  color: #00B37E; /* Verde neon */
  margin-bottom: 0.5rem;
}

.subtitulo {
  color: #a8a8b3;
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
}

button {
  background-color: #8257E5; /* Roxo */
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.2s;
  width: 100%; /* Botão ocupa toda largura do cartão */
}

button:hover {
  background-color: #996DFF;
  transform: scale(1.02);
}

/* Quando o botão tiver a classe "botao-ativo" */
button.botao-ativo {
  background-color: #00B37E; /* Verde */
  color: white;
  border: 1px solid #00B37E;
}

.foto-perfil {
  width: 120px;
  height: 120px;
  border-radius: 50%;/*Circulo perfeito*/
  border: 4px solid #00B37E; /*borda verde*/
  margin-bottom: 20px;
  object-fit: cover; /*Garante que a foto não fique esticada*/

}